"node_modules/" 
"verdao-chain/node_modules/" 
"verdao-chain/artifacts/" 
"verdao-chain/cache/" 
".DS_Store" 
"dist/" 
"node_modules/" 
".next/" 
"verdao-chain/node_modules/" 
"verdao-chain/artifacts/" 
"verdao-chain/cache/" 
